<h2>Upload CSV</h2>

<%= form_tag({action: :upload_csv_file}, multipart: true) do %>

<div class="field">
<%= file_field_tag 'csv_file' %>
</div>

<div class="actions">
    <%= submit_tag %>
    or 
    <%= link_to 'Cancel', statuses_path %>
</div>
<% end %>
