# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c720e365f2f7478e6531fbde4a286f5b651a0c3a310e3ea624bc974e54f15b54f840e8ab7b15868afc19524167fbaf448abc4975aae617948e84b8dcaae035e8
  database:
    :host: replace_me
    :name: replace_me
    :username: replace_me
    :password: replace_me


test:
  secret_key_base: 1308475cd0bb3c4e0538fdc01bf1ec1edf8af61b642fd7b0bd9daefa981b0ea7440b0f9ab0a3d48ce876266a5cf2c9024131e04b13a9316f77f07c15244152f2
  database:
    :host: replace_me
    :name: replace_me
    :username: replace_me
    :password: replace_me


# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 123456abc_replace_me
  database:
    :host: replace_me
    :name: replace_me
    :username: replace_me
    :password: replace_me
