 @import "bootstrap";

 //= require jquery
 //= require bootstrap
 //= require jquery_ujs
 //= require turbolinks
 //= require_tree .


 .state_display {
   background-color: #f2f2f2;
   padding: 1.1em;
   font-family: monospace;
 }
